{% extends 'base.html' %}

{% block body %}

<div class="   px-4 py-4 text-center">
<h3 class = "text-center">  Graphs Plotted During training Machine Learning Model </h3> 
</div>

<hr>
<br>
    <div class="container row ml-4 mt-4">
        <div class="  col-lg-6 mb-4 px-4 py-4">

            <div class="card">
            <img src="/static/visualize/2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Temperature vs Crop</h5>
                
            </div>
            </div>
        </div>
        <div class="  col-lg-6 mb-4 px-4 py-4">  
            <div class="card">
            <img src="/static/visualize/3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">ph vs Crop</h5>
            </div>
            </div>
        
        </div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    
    <div class="container row ml-4 mt-4">
        <div class="  col-lg-6 mb-4 px-4 py-4">

            <div class="card">
            <img src="/static/visualize/4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Humidity vs Crop</h5>
                
            </div>
            </div>
        </div>
        <div class="  col-lg-6 mb-4 px-4 py-4">  
            <div class="card">
            <img src="/static/visualize/5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Rainfall vs Crop</h5>
            </div>
            </div>
        
        </div>
    </div>
<br>
<br>
<hr>
<br>

<div class="   px-4 py-4 text-center">
    <h3 class = "text-center">  Correlation Matrix </h3> 
    </div>
    <div class="container row ml-4 mt-4">
        <div class="  col-lg-8 mb-4 px-4 py-4">

            <div class="card">
            <img src="/static/visualize/6.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Matrix</h5>
                
            </div>
            </div>
        </div>
      
    </div>
<hr>
<hr>
<div class="   px-4 py-4 text-center">
    <h3 class = "text-center">  Pair Plot </h3> 
    </div>
    <div class="container row ml-4 mt-4">
        <div class="  col-lg-8 mb-4 px-4 py-4">

            <div class="card">
            <img src="/static/visualize/1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">PairPLot</h5>
                
            </div>
            </div>
        </div>
      
    </div>
{% endblock body %}